<span class="comment">
  <% if comment.user.present? %>
    <%= render partial: 'users/user', object: comment.user %>
  <% else %>
    <em><%= comment.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(comment) %>
    <%= button_to '', event_comment_path(comment.event, comment), method: :delete,
                  form: { style: 'display:inline-block;', data: { turbo_confirm: t('.destroy_confirm') } },
                  title: 'Удалить комментарий', class: 'bi bi-trash' %>
  <% end %>
</span>
<p><%= comment.body %></p>

