<div class="event-photo mt-3">
  <%= image_tag(photo.photo.variant(resize_to_fit: [200, 200]).processed, class: 'img-fluid mb-2') %>

  <%= t('views.photos.add')%> <%= render partial: 'users/user', object: photo.user %>
</div>