.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}